'context-menu':
  'atom-text-editor': [
    {
      'label': 'Peek Function'
      'command': 'code-peek:peekFunction'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Code Peek'
      'submenu': [
        {
          'label': 'Peek Function'
          'command': 'code-peek:peekFunction'
        }
      ]
    ]
  }
]
